<div class="container">
  <h1>Savings Rate Calculator</h1>
  <form [formGroup]="formGroup" novalidate>
    <div formArrayName="incomes">
      <div *ngFor="let income of formGroup.controls.incomes.controls; let index = index">
        <sr-income-input [formControlName]="index"></sr-income-input>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="addIncome($event)">
      +
    </button>
    <div class="form-group">
      <label for="filingStatus">Filing Status</label>
      <select formControlName="filingStatus" class="form-control" id="filingStatus">
        <option value="single">Single</option>
        <option value="married">Married Filing Jointly</option>
        <option value="marriedSeparately">Married Filing Separately</option>
        <option value="headOfHousehold">Head of Household</option>
      </select>
    </div>
    {{taxesPayable | async}}
  </form>
</div>