<div class="container">
  <h1>Savings Rate Calculator</h1>
  <form [formGroup]="formGroup" novalidate>
    <div class="form-group">
      <label for="filingStatus">Filing Status</label>
      <select formControlName="filingStatus" class="form-control" id="filingStatus">
        <option value="single">Single</option>
        <option value="married">Married Filing Jointly</option>
        <option value="marriedSeparately">Married Filing Separately</option>
        <option value="headOfHousehold">Head of Household</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exemptions">Number of Exemptions</label>
      <input type="number" class="form-control" id="exemptions" placeholder="1" formControlName="exemptions">
    </div>
    <div formArrayName="incomes">
      <div *ngFor="let income of formGroup.controls.incomes.controls; let index = index">
        <sr-income-input [formControlName]="index"></sr-income-input>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="addIncome($event)">
        + Add Income
      </button>
    </div>
    <div class="form-group">
      <label for="401k">401k Contribution</label>
      <input type="number" class="form-control" id="401k" placeholder="18,000" formControlName="401k">
    </div>
    <div class="form-group custom-controls-stacked">
      <label class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="deductionType" value="standard">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Standard Deduction</span>
      </label>
      <label class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" formControlName="deductionType" value="itemized">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Itemized Deduction</span>
      </label>
    </div>
    <ng-container *ngIf="isItemizingDeduction$ | async">
      <div class="form-group">
        <label for="itemizedDeductions">Total Itemized Deductions</label>
        <input type="number" class="form-control" id="itemizedDeductions" placeholder="13,000" formControlName="itemizedDeductions">
      </div>
    </ng-container>
    <div class="mt-4">
      Federal Tax: {{taxesPayable$ | async | currency}}
    </div>
    <div class="mt-4">
      Effective Tax Rate: {{effectiveTaxRate$ | async | number}}%
    </div>
  </form>
</div>